.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.rps {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #cc6600;
}

h1 {
  margin: 30px;
  font-family: 'Lacquer', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #99ccff;
}

h2 {
  font-size: 2rem;
  color: #000000;
  font-family: 'Lacquer', sans-serif;
}

p {
  font-size: 1.5rem;
  color: #000000;
  font-family: 'Lacquer', sans-serif;
}

.r {
  background-image: url("images/RockImage.png");
}

.p {
  background-image: url("images/PaperImage.png");
}

.s {
  background-image: url("images/ScissorsImage.png");
}

img {
  width: 80%;
}

.pressed {
  box-shadow: 0 3px 4px 0 #404B69;
  opacity: 0.5;
}

.gameImage {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Lacquer', sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lacquer', sans-serif;

}
